<div *ngIf="!isLoading()" class="container-fluid d-flex flex-wrap justify-content-center align-items-center">
  <div class="card mb-3 col-6" *ngFor="let card of characters(); index as i">
    <div class="row g-0">
      <div class="col-md-6">
        <img [src]="card.image" class="img-fluid rounded-start imgCharacter" alt="image characters">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{ card.name || 'Sem conteúdo' }}</h5>
          <p class="card-text">
            <strong>Status:</strong> {{ card.status || 'Sem conteúdo' }}<br>
            <strong>Espécie:</strong> {{ card.species || 'Sem conteúdo' }}<br>
            <strong>Tipo:</strong> {{ card.type || 'Sem conteúdo' }}<br>
            <strong>Gênero:</strong> {{ card.gender || 'Sem conteúdo' }}
          </p>
          <a [routerLink]="['/details', card.id]" class="btn btn-primary">Ver detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading()" class="d-flex justify-content-center loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>
